adjusttext==0.7.3
contourpy==1.0.6
cycler==0.11.0
fonttools==4.38.0
importlib-metadata==5.1.0
ipywidgets==8.0.2
itables==1.4.1
jupyter-core==5.1.0
jupyterlab-widgets==3.0.3
kiwisolver==1.4.4
matplotlib==3.6.2
matplotlib-venn==0.11.7
mistune==2.0.4
nbconvert==7.2.5
pillow==9.3.0
platformdirs==2.5.4
scipy==1.9.3
seaborn==0.12.1
tinycss2==1.2.1
traitlets==5.6.0
voila==0.4.0
websockets==10.4
widgetsnbextension==4.0.3
zipp==3.11.0
